@model LibraryManagement.Models.ModifyPassword
@{
    ViewBag.Title = "ModifyPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/table.css")" rel=" stylesheet" />
</head>
<center><h2>修改密码</h2></center>
<div align="center">
    <img src="~/Image/fenge_line.jpg" width="720" height="10" />
</div>
<div align="center">
@using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <table>
            <tr>
                <td>用户名：</td>
                <td>@Html.TextBoxFor(model => model.username, new { @readOnly = "readOnly" })</td>
            </tr>
            <tr>
                <td>旧密码：</td>
                <td>@Html.EditorFor(model=>model.oldpsw)</td>
                <td>@Html.ValidationMessageFor(model=>model.oldpsw)</td>
            </tr>
            <tr>
                <td>新密码：</td>
                <td>@Html.EditorFor(model=>model.newpsw)</td>
                <td>@Html.ValidationMessageFor(model => model.newpsw)</td>
            </tr>
            <tr>
                <td>确认新密码：</td>
                <td>@Html.EditorFor(model=>model.connewpsw)</td>
                <td>@Html.ValidationMessageFor(model => model.connewpsw)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id="Submit1" type="submit" value="确定" />
                    &nbsp;
                    <input type="button" value="取消" onclick="window.location = 'Index'" />
                </td>
                
            </tr>
        </table>
}
</div>
